{% extends 'base.html' %}
{% load static %}

{% block title %}Bienvenido a NUAM{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/antepagina.css' %}">
{% endblock %}

{% block content %}
<div class="p-5 mb-4 text-center jumbotron-personalizado">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Prootipo</h1>
      <p class="fs-4">Breve interfaz</p>
      
      <hr class="my-4">
      
      <p>Por favor, selecciona una opción para continuar.</p>
      
      <a class="btn btn-primary btn-lg" href="{% url 'registro' %}" role="button">
        Registrarme
      </a>
      <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button">
        Iniciar Sesión
      </a>
    </div>
</div>
{% endblock %}